$palettes: (
  primary: (
    0: #000000,
    10: #102000,
    20: #1f3700,
    25: #264300,
    30: #2f4f00,
    35: #375c00,
    40: #3f6900,
    50: #518500,
    60: #64a104,
    70: #7dbd2a,
    80: #97d945,
    90: #b2f65f,
    95: #d2ff9b,
    98: #f0ffd7,
    99: #f9ffe9,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #121f03,
    20: #263515,
    25: #31401f,
    30: #3c4c29,
    35: #475834,
    40: #53643f,
    50: #6b7d56,
    60: #85976e,
    70: #9fb287,
    80: #bacda0,
    90: #d6e9bb,
    95: #e4f8c8,
    98: #f0ffd8,
    99: #f8ffe9,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #00201e,
    20: #003735,
    25: #004340,
    30: #00504c,
    35: #005d59,
    40: #056a66,
    50: #30837f,
    60: #4d9d98,
    70: #69b8b3,
    80: #85d4cf,
    90: #a1f1eb,
    95: #b0fff9,
    98: #e3fffc,
    99: #f2fffd,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1c18,
    20: #30312c,
    25: #3b3c37,
    30: #464742,
    35: #52534e,
    40: #5e5f59,
    50: #777772,
    60: #91918b,
    70: #acaba5,
    80: #c7c7c0,
    90: #e4e3dc,
    95: #f2f1ea,
    98: #fbf9f2,
    99: #fefcf5,
    100: #ffffff,
    4: #0d0f0b,
    6: #131410,
    12: #1f201c,
    17: #292a26,
    22: #343531,
    24: #393a35,
    87: #dbdad3,
    92: #e9e8e1,
    94: #efeee7,
    96: #f5f4ed,
  ),
  neutral-variant: (
    0: #000000,
    10: #171e0f,
    20: #2c3322,
    25: #373e2d,
    30: #424937,
    35: #4e5543,
    40: #59614e,
    50: #727a66,
    60: #8c947e,
    70: #a6ae98,
    80: #c2cab2,
    90: #dee6cd,
    95: #ecf4db,
    98: #f5fde4,
    99: #f9ffe9,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);
