<form
  [formGroupName]="controlKey()"
  class="grid grid-cols-2 gap-y-1 gap-x-3 pt-2"
>
  <!-- City -->
  <mat-form-field appearance="outline" class="col-span-2">
    <mat-label i18n="@@word.city">City</mat-label>
    <input
      matInput
      i18n-placeholder="@@placeholder.city"
      placeholder="City"
      formControlName="city"
    />
    @if (parentFormGroup.get(controlKey())?.get('city')?.hasError('required')) {
      <mat-error i18n="@@error.city.required">City is required</mat-error>
    }
  </mat-form-field>

  <!-- Street -->
  <mat-form-field appearance="outline" class="col-span-2">
    <mat-label i18n="@@word.street">Street</mat-label>
    <input
      matInput
      i18n-placeholder="@@placeholder.street"
      placeholder="Street"
      formControlName="street"
    />
    @if (
      parentFormGroup.get(controlKey())?.get('street')?.hasError('required')
    ) {
      <mat-error i18n="@@error.street.required">Street is required</mat-error>
    }
  </mat-form-field>

  <!-- Number -->
  <mat-form-field class="col-span-2 md:col-span-1" appearance="outline">
    <mat-label i18n="@@word.number">Number</mat-label>
    <input
      matInput
      i18n-placeholder="@@placeholder.number"
      placeholder="Number"
      formControlName="number"
      type="number"
    />
    @if (
      parentFormGroup.get(controlKey())?.get('number')?.hasError('required')
    ) {
      <mat-error i18n="@@error.number.required">Number is required</mat-error>
    }
    @if (parentFormGroup.get(controlKey())?.get('number')?.hasError('min')) {
      <mat-error i18n="@@error.number.min">The minimum number is 1</mat-error>
    }
    @if (parentFormGroup.get(controlKey())?.get('number')?.hasError('max')) {
      <mat-error i18n="@@error.number.max"
        >The maximum number is {{ '500' }}</mat-error
      >
    }
  </mat-form-field>
</form>
