<section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h1
        class="mb-4 text-7xl tracking-wide font-extrabold lg:text-9xl text-tertiary"
      >
        404
      </h1>
      <p
        class="mb-4 text-3xl tracking-tight font-semibold md:text-4xl"
        i18n="@@not_found.title"
      >
        Oops! Page not found
      </p>
      <p class="mb-4 text-lg text-outline" i18n="@@not_found.body">
        The page you're looking for doesn't exist or has been moved
      </p>
      <a mat-flat-button routerLink="/" i18n="@@not_found.button"
        >Back to Homepage</a
      >
    </div>
  </div>
</section>
