<div class="w-full max-w-lg space-y-10">
  @if (!isEmailSend()) {
    <mat-card class="px-6 space-y-9" appearance="outlined">
      <mat-card-header>
        <div>
          <h4
            class="font-semibold text-2xl mb-3"
            i18n="@@register.forgot_password.title"
          >
            Forgot your password?
          </h4>
          <p i18n="@@register.forgot_password.body">
            Please enter the email address associated with your account and We
            will email you a link to reset your password
          </p>
        </div>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="sendEmail()" class="space-y-3">
          <!-- Email -->
          <mat-form-field appearance="outline" class="w-full">
            <mat-label i18n="@@word.email">E-Mail</mat-label>
            <input
              matInput
              i18n-placeholder="@@placeholder.email"
              placeholder="E-Mail"
              formControlName="email"
              type="email"
            />
            <mat-icon matSuffix>email</mat-icon>
            @if (form.get('email')?.hasError('required')) {
              <mat-error i18n="@@error.email.required"
                >Email is required</mat-error
              >
            }
            @if (form.get('email')?.hasError('email')) {
              <mat-error i18n="@@error.email.is_mail">Invalid email</mat-error>
            }
            @if (
              !form.get('email')?.errors?.['email'] &&
              form.get('email')?.errors?.['emailDomain']
            ) {
              <mat-error i18n="@@error.email.email_domain"
                >Please use allowed google domains</mat-error
              >
            }
          </mat-form-field>
          @if (formError()) {
            <mat-error>{{ formError() }}</mat-error>
          }
          <button
            mat-flat-button
            type="submit"
            class="w-full"
            i18n="@@register.forgot_password.botton"
          >
            Reset Password
          </button>
          <div class="flex justify-start items-center gap-2 py-1.5">
            <a
              routerLink="/auth/login"
              class="text-sm font-medium text-tertiary hover:underline"
              i18n="@@register.forgot_password.link"
              >Back to login</a
            >
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  } @else {
    <app-redirect-forgot-password></app-redirect-forgot-password>
  }
</div>
