<div class="container px-6 m-auto">
  <div class="grid grid-cols-4 gap-6 md:grid-cols-8 lg:grid-cols-12">
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-primary text-surface"
    >
      primary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-primary"
    >
      on-primary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-primary-container"
    >
      primary-container
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-primary-container text-surface"
    >
      on-primary-container
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-secondary text-surface"
    >
      secondary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-secondary"
    >
      on-secondary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-secondary-container"
    >
      secondary-container
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-secondary-container text-surface"
    >
      on-tertiary-container
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-tertiary text-surface"
    >
      tertiary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-tertiary"
    >
      on-secondary
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-tertiary-container"
    >
      tertiary-container
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-tertiary-container text-surface"
    >
      on-tertiary-container
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-error text-surface"
    >
      error
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-error"
    >
      on-error
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-error-container"
    >
      error-container
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-error-container text-surface"
    >
      on-error-container
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-surface"
    >
      surface
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-surface-dim"
    >
      surface-dim
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-surface-bright"
    >
      surface-bright
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-on-surface text-surface"
    >
      on-surface
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-surface-variant text-surface"
    >
      on-surface-variant
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-surface-container-lowest"
    >
      surface-container-lowest
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-surface-container-low"
    >
      surface-container-low
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-surface-container"
    >
      surface-container
    </div>
    <div
      class="col-span-2 h-24 inline-flex items-center justify-center bg-surface-container-high"
    >
      surface-container-high
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-surface-container-highest"
    >
      surface-container-highest
    </div>

    <div
      class="col-span-6 h-24 inline-flex items-center justify-center bg-outline"
    >
      outline
    </div>
    <div
      class="col-span-6 h-24 inline-flex items-center justify-center bg-outline-variant"
    >
      outline-variant
    </div>

    <div
      class="col-span-4 h-24 inline-flex items-center justify-center bg-inverse-surface text-surface"
    >
      inverse-surface
    </div>
    <div
      class="col-span-4 h-24 inline-flex items-center justify-center bg-inverse-on-surface"
    >
      inverse-on-surface
    </div>
    <div
      class="col-span-4 h-24 inline-flex items-center justify-center bg-inverse-primary"
    >
      inverse-primary
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-primary-fixed text-on-primary-fixed"
    >
      primary-fixed, primary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-primary-fixed-dim text-on-primary-fixed"
    >
      primary-fixed-dim, primary, dark
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-primary-fixed text-primary-fixed"
    >
      on-primary-fixed, on-primary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-primary-fixed-variant text-primary-fixed"
    >
      on-primary-fixed-variant, primary-container, dark
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-secondary-fixed text-on-secondary-fixed"
    >
      secondary-fixed, secondary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-secondary-fixed-dim text-on-secondary-fixed"
    >
      secondary-fixed-dim, secondary, dark
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-secondary-fixed text-secondary-fixed"
    >
      on-secondary-fixed, on-secondary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-secondary-fixed-variant text-secondary-fixed"
    >
      on-secondary-fixed-variant, secondary-container, dark
    </div>

    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-tertiary-fixed text-on-tertiary-fixed"
    >
      tertiary-fixed, tertiary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-tertiary-fixed-dim text-on-tertiary-fixed"
    >
      tertiary-fixed-dim, tertiary, dark
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-tertiary-fixed text-tertiary-fixed"
    >
      on-tertiary-fixed, on-tertiary-container, light
    </div>
    <div
      class="col-span-3 h-24 inline-flex items-center justify-center bg-on-tertiary-fixed-variant text-tertiary-fixed"
    >
      on-tertiary-fixed-variant, tertiary-container, dark
    </div>

    <div
      class="col-span-6 h-24 inline-flex items-center justify-center bg-scrim text-primary-fixed"
    >
      scrim
    </div>
    <div
      class="col-span-6 h-24 inline-flex items-center justify-center bg-shadow text-primary-fixed"
    >
      shadow
    </div>
  </div>
</div>
